body {
  background-image: url('assets/lovet.png');
  background-size: cover;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden;
}
    .video-container {
        position: relative;
        width: 900px;
        height: 500px;
        margin: 0 auto;
        overflow: hidden;
        border: 10px solid dimgray;
        border-radius: 10px;
        background-color: black;

    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; /* Hide all videos by default */
    }

    .video-container video.active {
        display: block; /* Display active video */
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
    button{
  position: absolute;
  top: 10px; /* Adjusted top position */
  left: 10px; /* Adjusted left position */
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: #012a4a;
  color: #ff8fab;
  transition-duration: 0.4s;
  z-index: 1;
}
button a {
  text-decoration: none;
  color: inherit;
}

button:hover{
  background-color: maroon;
  color: white;
}